@import url('https://fonts.googleapis.com/css2?family=Arial');

@media only screen and (orientation: portrait) {
    #main  {
        grid-area: main;
        margin: 0 !important;
        width: calc(100% - 42px) !important;
    }
}

#main {
    width: calc(100vw - 600px);
    text-align: center;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5; 
    padding: 20px;
    padding-top: 0;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

#container-contact-img {
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: white;
    display: flex;
}

#contact-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-info h1 {
    font-size: 24px;
    margin-bottom: 10px;
    text-decoration: underline;
}

#contact-info p {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 5px;
}

#contact-info a {
    color: #333;
}

#contact-info a:hover {
    color: #000;
}

.icon {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    vertical-align: middle;
}

#logo-div {
    width: 50%;
}

#logoimg {
    width: 55.8%;
}