@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css2?family=Bungee');
@import url('https://fonts.googleapis.com/css2?family=VT323');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono');
@import url('https://fonts.googleapis.com/css2?family=Impact');
@import url('https://fonts.googleapis.com/css2?family=Comic+Sans+MS');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed');

body {
    background-color: #303134; 
    margin: 0;
}

body::-webkit-scrollbar {
    width: 0.065em;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    background-color: #000000;
}

.container {
    display: flex;
}

@media only screen and (orientation: portrait) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 30fr;
    }
}

