@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Raleway');


#navbar {
    overflow: hidden;
    background-color: black;
    margin: 0;
    padding: 0;
    top: 0;
    position: sticky;
    z-index: 500;
    font-size: clamp(1vw, 2vw, 20px);
}

#current-page-navbar {
    background-color: rgb(0, 0, 255);
}

#dropbtn-current-page {
    font-size: inherit;
    border: none;
    outline: none;
    color: white;
    padding: clamp(1vw, 2vw, 15px);
    background-color: black;
    font-weight: 500;
    font-family: 'Orbitron';
    margin-right: 10px;
    background-color: rgb(0, 0, 255);
}

.navbar-elements { 
    float: left;
    font-size: inherit;
    color: white;
    padding: clamp(1vw, 2vw, 15px); 
    text-decoration: none;
    font-weight: 500;
    font-family: 'Orbitron';
}

#dropdown {
    float: left;
    overflow: hidden;
}

#dropdown #dropbtn {
    font-size: inherit;
    border: none;
    outline: none;
    color: white;
    padding: clamp(1vw, 2vw, 15px);
    background-color: black;
    font-weight: 500;
    font-family: 'Orbitron';
    margin-right: 10px;
}

#dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-family: 'Orbitron';
    font-weight: bold;
}

#dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
 
#dropdown-content a:hover {
    background-color: #ddd;
}

#dropdown:hover #dropdown-content {
    display: block;
}

#current-username {
    font-size: inherit;
    color: white;
    text-transform: uppercase;
    margin: 0;
}

#current-username:hover {
    animation: rainbow 2s infinite;
}

#sign-in-pointer {
    color: white;
    background-color: black;
    margin: 0;
    padding: clamp(1vw, 2vw, 15px);
    font-size: inherit;
    font-family: 'Raleway';
}

#imagediv {
    float: right;
}

#taskbarimagebutton {
    float: right;
    margin: 0;
    background-color: black;
    border: none;
    padding: none;
}

#taskbarimage {
    background-color: black;
    height: clamp(1vw, 5vw, 50px);
    width: clamp(1vw, 5vw, 50px);
}

#taskbarimagebutton:hover {
    cursor: pointer;
}

@keyframes rainbow {
    16.67% {
        color: red;
    }

    50% {
        color: blue;
    }

    83.33% {
        color: green;
    }
}