@import url('https://fonts.googleapis.com/css?family=Fira+Code');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
    background-color: #303134;
    margin: 0;
    color: white;
}

#download-button {
    background-color: #4fb8ff;
    border-radius: 10px;
    padding: 5px 15px;
    margin-top: 9px;
}

#download-button:hover {
    animation: background-rainbow 3s infinite;
}

#current-username {
    margin-left: 0vw !important;
}

.container {
    margin-top: 50px;
    display: flex;
}

#text {
    width: 33.3%;
    background-color: #4fb8ff;
    border-radius: 25px;
    padding: 30px;
}

#extra-notes {
    background-color: black;
    border-radius: 10px;
    width: 80%;
    margin-left: 10%;
    padding: 10px;
    margin-top: 50px;
    height: 500px;
    overflow-y: scroll;
}

#extra-notes h1 {
    padding: 0;
    margin: 0;
    text-decoration: underline;
}

#title-dev {
    font-family: 'Fira Code';
    text-decoration: underline;
}

.dev-text {
    font-family: 'Source Code Pro';
}

figure {
    text-align: center;
}

#videos1 {
    width: 33.3%;
}

#videos2 {
    width: 33.3%;
}

.video {
    width: 20vw;
    padding: 20px;
}

#graph-video-container {
   overflow: hidden;
   width: 20vw; 
   height: 15vw;
   padding-left: 3.4vw;
}

#graph-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#full-video {
    padding: 0;
    width: 50%;
    border-style: solid;
    border-color: black;
    border-width: 5px 15px 5px 15px;
    margin-left: 25%;
    margin-top: 5%;
    border-radius: 20px;
}

@keyframes background-rainbow {
    16.67% {
        background-color: red;
    }

    50% {
        background-color: blue;
    }

    83.33% {
        background-color: green;
    }
}

pre {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: monospace;
    white-space: pre-wrap;
    color: black;
    margin-left: 0;
    padding-left: 0;
}