body {
    background-color: #303134;
    margin: 0;
}

#formsdiv {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    z-index: -1;
    opacity: 0;
    background-color: #303134;
    color: #ffffff;
    font-size: 20px;
}

#register-form {
    position: absolute;
    top: -155px;
    text-align: center;
    width: 30%;
    margin-left: 36%;
    background-color: black;
    border: 5px solid white;
    border-radius: 15px;
}

#login-form {
    position: absolute;
    top: -155px;
    text-align: center;
    width: 30%;
    margin-left: 35%;
    background-color: black;
    padding: 10px;
    border: 5px solid white;
    border-radius: 15px;
}

.register-form-element {
    background-color: black;
}

#register-button {
    border-radius: 10px;
    border: none;
    padding: 5px;
    margin: 10px;
}

#login-button {
    border-radius: 10px;
    border: none;
    padding: 5px;
    margin: 10px;
}

#todo-list {
    background-color: #303134;
    color: #ffffff;
    font-size: 20px;
}