@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans');

body { 
    background-color: #303134;
    margin: 0;
}

#tutorial-container-div {
    width: 80%;
    background-color: white;
    margin-left: 10%;
    border-radius: 20px;
    border: 5px solid darkgray;
    margin-top: 20px;
}

.tutorial-navbar-element {
    background-color: #4fb8ff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.tutorial-navbar-element:hover {
    background-color: darkcyan;
    font-weight: 600;
}

.tutorial-navbar-element.current {
    background-color: #666;
    color: #fff;
}

#top-left-curved {
    border-top-left-radius: 15px;
}

#oop-tutorial {
    padding: 20px;
    padding-top: 0;
    margin-top: 0;
}

#oop-tutorial h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Montserrat';
}

#oop-tutorial p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: 'PT Sans'
}

#oop-tutorial pre {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    overflow-x: auto;
}

#oop-tutorial code {
    font-family: Consolas, monospace;
    font-size: 16px;
    color: #333;
}

